<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Add your CSS and other head elements here -->
</head>
<body>
    {{{body}}}
    <!-- Add your footer or any scripts here -->
</body>
</html>
